
      #moto-ranking {
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        border-radius: 10px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
          rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
      }
      #rank1 {
        flex-grow: 1;
        text-align: center;
      }
      #moto {
        display: inline-block;
        flex-grow: 10;
        font-size: 25px;
        text-align: center;
        padding-top: 17px;
      }
      #rank2 {
        flex-grow: 1;
        text-align: center;
      }

      .inner {
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
      }
      #moto .word {
        padding: 5px;
        text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
          0px -4px 10px rgba(255, 255, 255, 0.3);
        font-size: 40px;
      }
      @media only screen and (max-width: 1100px) {
        #moto .word {
          font-size: 25px;
        }
        #rank1 {
          order: 2;
          text-align: center;
        }
        #moto {
          order: 1;
        }
        #rank2 {
          order: 3;
          text-align: center;
        }
      }

      #director_message {
        text-align: center;
        padding: 5px;
      }

      .director {
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        display: block;
        width: 0%;
        padding: 4rem;
        margin: 2rem auto;
        background-color: #f3f3f3;
        margin-top: 85px;
      }
      @media only screen and (max-width: 500px) {
        .director {
          padding: 1.2rem;
        }
        .inner{
          font-size: 16px;
        }
      }